body {
    font-family: 'Dancing Script', 'Cursive', serif;
    background-color: #b5a997;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

/* Postikorttien asettelu etusivulla */
#postikortit-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 1100px;
}
.postikortti {
    background-color: white;
    /* Muutetaan kulmat: 5px on vain hieman pyöristetty, 0px on täysin terävä */
    border-radius: 0px; 
    
    /* Lisätään varjo, tulee enemmän paperivibes*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    aspect-ratio: 3 / 2; 
    
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-bottom: 20px;

    /* Pakotetaan korttimaiseen muotoon
    aspect-ratio: 3 / 2; 
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; /* reunaviivalla vaikutusta???? */
}

/*Kuva kortin sisällä */
.postikortti img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
 /* kuvan  venyminen oudosti */



.kohde-linkki {
    display: inline-block;
    margin-top: 15px;
    font-size: 1.3rem;
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.kohde-linkki:hover {
    color: #3498db;
}

/* Kohdesivun tyylit */
#kohde-nakyma {
    max-width: 900px;
    width: 100%;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

#takaisin-nappi {
    padding: 12px 24px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 30px;
}

#takaisin-nappi:hover {
    background-color: #34495e;
}

.kuvagalleria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin: 25px 0;
}

.kuvagalleria img {
    width: 100%;
    border-radius: 2px; /* Melkein terävä */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/*{ Vaihoin erilaiseksi tämä og kokeilu
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
*/
.arvio-laatikko {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff9f0;
    border-left: 5px solid #f39c12;
    border-radius: 5px;
}

.teksti-osio {
    line-height: 1.6;
    font-size: 1.1rem;
    color: #444;
}
